{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}

<h1>Bienvenidos a la pagina de PROFESORES</h1>

{% endblock %}


{% block contenido_que_cambia %}

<h1 style="background-color: black; color: white;"> Hola PROFES</h1>
<h2>{{ mensaje }}</h2>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Agregar">
</form>

<table>

    <thead>

        <tr>
            <th>ID</th>
            <th>NOmbre</th>
            <th>Apellido</th>
            <th>email</th>
            <th>Profesión</th>
            <th style="color: red">OPCIONES</th>

        </tr>
    </thead>

    <tbody>
        {% for profesor in profesores %}

        <tr>
            <td>
                {{ profesor.id }}

            </td>

            <td>
                {{ profesor.nombre }}

            </td>

            <td>
                {{ profesor.apellido }}

            </td>

            <td>
                {{ profesor.email }}

            </td>

            <td>
                {{ profesor.profesion }}

            </td>
            <td>
                <a class=" btn btn-danger" href="{% url 'eliminarProfesor' profesor.id %}">Eliminar</a>
                <a class="btn btn-success" href="{% url 'editarProfesor'  profesor.id  %}">Editar</a>
       
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}